* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
header strong {
  color: hsl(160deg, 100%, 30%);
  font-weight: 800;
}

header p {
  font-weight: 400;
}

header p,
strong {
  font-size: calc((20 / 16) * 1rem);
  line-height: 1.875rem;
  max-width: 415px;
  min-width: 342px;
  margin-bottom: 0;
}

.title {
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 3rem;
}

.max-width-wrapper {
  width: 100%;
}

.intro-chunk {
  margin-top: calc((96 / 16) * 1rem);
  margin-bottom: calc((64 / 16) * 1rem);
  min-width: fit-content;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 100%;
}

.intro-chunk,
.card {
  padding-left: 24px;
  padding-right: 24px;
}

section {
  background-color: hsla(0, 0%, 40%, 1);
  padding-top: 72px;
  padding-bottom: 66px;
  border-top: 8px solid hsla(0, 0%, 60%, 1);
}

.card {
  padding-bottom: 24px;
  background-color: hsla(0, 0%, 100%, 1);
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
  padding-top: 8px;
  max-width: 800px;
  min-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.card p {
  font-weight: 500;
  font-size: calc((20 / 16) * 1rem);
  line-height: calc((30 / 16) * 1rem);
  max-width: 752px;
  min-width: 342px;
  margin-bottom: 0;
}

.indented-heading {
  background-color: hsla(45, 100%, 50%, 1);
  width: fit-content;
  padding: 16px 32px 15px 32px;
  border-bottom: 8px solid hsla(45, 100%, 40%, 1);
  margin-top: 0;
  margin-bottom: 24px;
  margin-left: -32px;
}
